body {
    font-family: $text;
    color: $black;
    background: $cream;
    margin: 4em 1em 1em;
}

.wrapper {
    max-width: 40em;
    margin: 0 auto;
}

a {
    color: $black;
    // text-decoration: none;
    transition: color 0.2s;
    &:hover {
        color: $orange;
    }
}

li {
    // list-style: none;
}

p {
    // padding-bottom: 1em;
    // line-height: 1.6;
}

h1 {
    font-weight: bold;
    font-style: italic;
    font-size: 1.4em;
}

h2 {
    font-weight: bold;
}

.test_subtitle {
    font-style: italic;
}

p {
    padding-bottom: 1em;
}

// .logo__icon {
//     width: 24rem;
//     height: 18rem;
//     margin: 0 auto;
//     display: block;
//     margin-bottom: 1.2rem;
// }
// .logo__lockup {
//     font-style: normal;
//     line-height: 1;
//     font-size: 2.6rem;
//     text-align: center;
// }
// .logo__line-one {
//     display: block;
//     font-size: 1em;
//     line-height: 0.6;
// }

// .logo__line-two {
//     margin-right: -0.1em;
//     text-transform: uppercase;
//     letter-spacing: 0.1em;
//     font-size: 3em;
//     display: block;
//     font-weight: normal;
// }
