.archive__list {
    margin-top: 2em;
}

.episode-item {
    margin-bottom: 1em;
    display: block;
}

.episode-item__title {
    font-weight: bold;
}

.episode-item__date {
    font-style: italic;
}
