.post__header {
    margin-bottom: 2em;
}

.post__content h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
}

.post__content ul {
    margin-bottom: 1.4em;
    li {
        margin-left: 1em;
    }
}

.post__player {
    margin-bottom: 2em;
    width: 100%;
}
