.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border-top: 1rem solid orange;
}

.header__home {
    display: flex;
    text-decoration: none;
}
.header__home-text,
.header__link {
    padding: 1rem 1rem;
    > a {
        line-height: 1;
        text-decoration: none;
    }
}
