// COLOURS

// "The New Defaults"
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$teal: #39cccc;
$green: #2ecc40;
$olive: #3d9970;
$lime: #01ff70;
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$purple: #b10dc9;
$maroon: #85144b;
$white: #fff;
$silver: #ddd;
$grey: #aaa;
$black: #111;

// Projcet colours
$black: #3e3d38;
$grey: #bdbdbd; //icons
$grey_dark: #707070;
$cream: #f6f6f3;
$yellow: #ffdc1c;
$pink: #f0258e;

// Selection Colours
::selection {
    color: $white;
    background: $black;
}
a::selection {
    color: $black;
    background: $white;
}
